@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  outline: none;
}
.ring{
  background-image: url(/public/icons/ring.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 16px;
  height: 16px;
  padding: 24px;
  border: 0;
  box-shadow: 0 0 #00000000 !important;
  img{
    width: 12px;
    height: 12px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

body{
  background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.main{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.search-label{
  box-shadow: 0px -5px 25px 0px #00032080;
}
aside{
  box-shadow: 0px -5px 25px 0px #00032080;
}
.widget{
  border-radius: 24px;
}
.balance-scroll{
  scrollbar-width: none;
  
}
.first{
  width: 239px;
  height: 310px;
}
.widget-box{
  font-size: 7px !important;
}
.transaction{
  width: 100%;
}
.wallet-chart-container{
  height: 43px;
}
.balance{
  transform: translate(-50%, -50%);
}
.widget-container{
  max-width: 800px;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.body-top{
  gap: 20px;
}
.top{
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.balance-card{
  width: 100%;
  max-width: 310px;
}
.news-box{
  border-top: #2D317A solid 2px;
  padding-top: 18px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
  scrollbar-width: none;
  height: 150px;
  position: relative;
}


.bottom{
  gap: 40px;
}
.total-width{
  width: 105px;
  height: 105px;

}
.wallet-top{
  gap: 40px;
  align-items: center;
}
.wallet-container{
  gap: 40px;
  width: 100%;
  max-width: 900px;
  overflow-x: auto;
  scrollbar-width: none;
  height: 150px;
}
.sec-total{
    flex-wrap: wrap;
  justify-content: center;
}
.wallet-bottom{
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.transactions-mini{
  .left{
    padding-right: 20px;
  }
  .center{
    display: flex;
      justify-content: space-around !important;
  }
}
.transactions-box{
  border-top: #2D317A solid 2px;
  padding-top: 18px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
  scrollbar-width: none;
  height: 310px;
  position: relative;
}
.transactions{
  padding: 20px;
  width: 565px;
  border-radius: 12px;
}